body {
  background-color: lightgrey;
}

.slider {
  margin: auto;

  .slick-arrow {
    display: none !important;
  }

  .slider_image {
    max-width: 100%;
    width: 100%;
    max-height: 650px;
  }

  .slider_text {
    font-size: 2rem;
    text-align: center;
    color: white;
    margin-top: -100px;
  }
}

.showrooms {
  .showroom {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 50px auto;
    flex-direction: column;

    .showroom1 {
      margin: 40px auto;

      .showroom1_link {
        text-decoration: none;
        background-color: #333959;
        padding: 30px 50px;
        margin-top: 50px;
        border-radius: 10px;
        color: white;
      }

      .showroom1_link:hover {
        background-color: $bghover;
        transition: 0.5s;
      }
    }
  }
}

.content {
  margin: 20px 25px;
}

.featured_cars {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  .car-search_link {
    text-decoration: none;
  }

  p {
    margin-bottom: 3px;
    color: #789;
  }

  .car-search {
    margin: 15px;
    flex-basis: 80%;
    border: 2px solid white;
    text-align: center;
    font-size: 1rem;
    padding: 10px 15px;
    border-radius: 10px;
    background-color: #f7f3f3;
    //margin-top: 10px;
  }

  .car-search:hover {
    background-color: $bghover;

    p {
      color: white;
    }
  }

  img {
    width: 100%;
    border-radius: 20%;
  }
}

.partners {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px auto;

  img {
    border-radius: 50%;
  }
}
